GROQ_API_KEY=
ACCESS_TOKEN=
PHONE_NUMBER_ID=
VERIFY_TOKEN=
PORT=3000
GRAPH_API_VERSION=v20.0
SUMMARIZE_MODEL=llama-3.3-70b-versatile
VISION_MODEL=meta-llama/llama-4-scout-17b-16e-instruct
MAX_FILE_SIZE_MB=10
MAX_TEXT_LENGTH=15000
HF_API_KEY=
IMAGE_MODEL=black-forest-labs/FLUX.1-schnell
